dist: xenial
language: java
sudo: false
jdk:
  - openjdk8
cache:
  directories:
    - "$HOME/.m2/repository"
    - "$HOME/.sonar/cache"
addons:
  sonarcloud:
    organization: proshin-roman-github
install: true
script:
- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
after_success:
- mvn clean test jacoco:report coveralls:report
- bash <(curl -s https://codecov.io/bash)
- ./before-deploy.sh
- ./deploy.sh
